<ion-view hide-nav-bar="true">
    <ion-content id="login">
        <p>GuessUaT</p>
        <form>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="loginData.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="loginData.password">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit" ng-click="doLogin()">continue with facebook</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
