<ion-view view-title="Profile" id="profile">
    <ion-nav-buttons side="left" class="item item-avatar">
        <img src="img/ben-avatar.png" alt="avatar" class="avatar-profile ion-navicon" menu-toggle="left">
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <i class="icon ion-load-c loading" ng-show="loading"></i>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>
        <div class="row responsive-sm">
        
        	<div class="col wrap">
        		<div class="bigProfilePic" style="background:url({{profileDetail.userPhoto}}) center center no-repeat;background-size:100%;"></div>   

                <div class="userInfo">
                    <p class="name">{{profileDetail.userName}}</p>
                    <p class="description">{{ profileDetail.userDescription }}</p>
                </div>
                <ul>
                    <li ng-repeat="socialMedia in profileDetailSocialMedia" class="social-icons">
                        <a href="{{socialMedia.url}}"><i class="ion-social-{{socialMedia.name}}"></i></a>
                    </li>
                </ul>
        	</div>
            <ion-list>
                <ion-item ng-repeat="card in profileDetailPrevOmens" class="card-wrapper">
                    <div class="card" style="background:url({{ card.img }}); background-size:100%;">
                        <div class="inner-wrapper">
                            <img ng-src="{{ card.authorPhoto }}" alt="author profile picture">
                            <p class="author">
                                {{ card.author }} <br>
                                {{ card.datePosted }}
                            </p>
                            <p class="essay"> {{ card.title }} </p>
                            <div class="footWrapper">
                                <div class="thumbsUp"> <i class="icon ion-arrow-up-c"></i> {{ card.thumbsUp }} </div>
                                <div class="comments"> {{ card.comments }} </div>
                                <div class="thumbsDown"> <i class="icon ion-arrow down-c"></i> {{ card.thumbsDown }} </div>
                            </div>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
